@model AirportApp.ClassLibrary.Entity.Domain.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DutyFreeRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DutyFreeRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightExperienceRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightExperienceRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffFriendlinessRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffFriendlinessRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleanlinessRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleanlinessRating)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Employee"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <text> | </text>
    }
    <a asp-action="Index">Back to List</a>
</div>

